main{
    min-height: 75vh;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    color: #484848 ;
}
h6{
    font-weight: 700 !important;
}
.btn-success{
    background: linear-gradient(126deg, #2bde8c, #86f244) !important;
    border-bottom: none !important;
    padding: 8px 25px !important;
}
.success{
    color: #2bde8c !important;
}
.bg-success{
    background:  linear-gradient(126deg, #2bde8c, #86f244  ) !important;
    color: white;
}
.card{
    border: none !important;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s !important;
}

.card-body{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1) !important;
    border-radius: 10px !important;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s !important;
}
.card:hover{
    box-shadow: 0px 0px 8px 4px #87f244a2 !important;
    cursor: pointer;
}
.experience .card-body{
    min-height: 157px;
}
.card:hover .place{
    color: #00A799;
}
p{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400 !important;  */
    font-size: 18px !important;
}

/* date picker  */
.react-datepicker{
    background-color: white !important;
    box-shadow: 5px 5px 25px rgba(24, 21, 21, 0.349);
    }
.react-datepicker__header{
    background-color: #86f244 !important;
    color: white !important;
}
.react-datepicker__input-container > input{
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #555;
    width: 20vw !important;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.vw-26 .react-datepicker__input-container > input{
    width: 26vw !important;
}
.vw-26 .react-datepicker__input-container input:focus{
    border: 1px solid #ced4da !important; 
}
.showMoreContainer{
    transition: all linear .3s;
    overflow: hidden;
}
.showMore{
    cursor: pointer;
}
.form-control{
    font-size: 1.2rem !important;
}
.form-control:focus {
    border-color: #86f244 !important;
    box-shadow: inset 0 1px 1px rgba(17, 168, 255, 0.158), 0 0 8px rgba(61, 255, 3, 0.6) !important;
  }

